<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>

<div class="container">

    <div class="starter-template">
        <table style="width:500px" border="1">
            <tr>
                <td th:text="Id"></td>
                <td th:text="Name"></td>
                <td th:text="Genre"></td>
                <td th:text="ReleaseDate"></td>
            </tr>
            <tr th:each="movie : ${movies}">
                <td th:text="${movie.movieId}"></td>
                <td th:text="${movie.movieName}"></td>
                <td th:text="${movie.genre}"></td>
                <td th:text="${movie.releaseDate}"></td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>