<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>

<div class="container">

    <div class="starter-template">

        <h1>
            <tr th:each="movie : ${myMovie}">
                <img th:src="${movie.posterLink}"/>
                <h4>Movie ID</h4>
                <td th:text="${movie.movieId}"></td>
                <h4>Movie Name:</h4>
                <td th:text="${movie.movieName}"></td>
                <h4>Genre of the movie:</h4>
                <td th:text="${movie.genre}"></td>
                <h4>Release Date</h4>
                <td th:text="${movie.releaseDate}"></td>

            </tr>
        </h1>
    </div>

</div>

</body>
</html>